<div class="whole-page">
  <div class="call-to-action">
    <%= link_to new_cocktail_path do %>
      <i class="fa fa-plus btn btn-success btn-large"></i>
    <% end %>
  </div>
  <%= cl_image_tag("yollyoy1ywtrmo3zc9vt", width: 400, height: 300, crop: :fill) %>
  <div class="container">
    <h1>Casa Del Tommy</h1>
    <h2>Cocktail Menu</h2>
    <div class="row">
  <!-- DO I HAVE ACCESS TO THIS? -->
      <% counter = 0 %>
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('https://cdn1.iconfinder.com/data/icons/food-and-drink-vol-1-1/512/8-128.png');">
              <div class="card-category">
                <% counter +=1 %>
                <%= counter %>
              </div>
              <div class="card-description">
                <!-- cocktail name -->
                <h2><%= cocktail.name %></h2>
                <!-- LIST OF DOSES -->
                <ul>
                  <% cocktail.doses.each do |dose| %>
                  <li><%= "#{dose.ingredient.name}: #{dose.description}" %></li>
                  <% end %>
                </ul>
              </div>
                <!-- ACTIONS -->
              <div class="card-actions">
                <%= link_to cocktail_path(cocktail), method: :delete do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
