<h1>NEW Cocktail</h1>

<div class="row-container text-center">
  <div class="row">
    <div class="col-xs-6">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name, label: false, placeholder: "Name" %>
        <%= f.simple_fields_for :doses do |d| %>
          <%= d.input :ingredient_id, collection: Ingredient.all, label: false, prompt: "ingredient" %>
          <%= d.input :description, label: false, placeholder: "6ml"%>
        <% end %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="col-xs-6 col-sm-4 col-sm-offset-4">

    </div>
  </div>
</div>
